# Migranti e Rifugiati

## Migranti
I principali dati sui migranti sono forniti dell'ONU.
http://www.un.org/en/development/desa/population/migration/data/estimates2/index.shtml
http://data.un.org/Default.aspx

country code in ISO 3166-1

In [49]:
import pandas as pd

In [50]:
url = 'http://www.un.org/en/development/desa/population/migration/data/estimates2/data/'
stock2017 = 'UN_MigrantStockTotal_2017.xlsx'
flussi2017 = 'UN_MigrantStockByOriginAndDestination_2017'

### Stock dei Migranti per Anno e Paese
Cerchiamo di capire il numero totale dei migranti

In [51]:
df_country = pd.read_excel('UNSD — Methodology.xlsx')

In [56]:
columns=['sort','area','notes','M49 Code','type_data','1990','1995','2000','2005',
'2010','2015','2017']

In [53]:
df = pd.read_excel(
    url+stock2017,
    "Table 1",
    skiprows=16,
    header=None,
    usecols=range(12),
    names=columns)

In [54]:
df = df.merge(df_country,on='M49 Code')

In [55]:
df.head(2)

,sort,area,notes,M49 Code,type_date,1990,1995,2000,2005,2010,...,Sub-region Code,Sub-region Name,Intermediate Region Code,Intermediate Region Name,Country or Area,ISO-alpha3 Code,Least Developed Countries (LDC),Land Locked Developing Countries (LLDC),Small Island Developing States (SIDS),Developed / Developing Countries
0,14,Burundi,NaN,108,B R,333110,254853,125628,172874,235259,...,202.0,Sub-Saharan Africa,14.0,Eastern Africa,Burundi,BDI,x,x,NaN,Developing
1,15,Comoros,NaN,174,B,14079,13939,13799,13209,12618,...,202.0,Sub-Saharan Africa,14.0,Eastern Africa,Comoros,COM,x,NaN,x,Developing